<footer>
  <div class="container cont">
    <div class="links mobileNot">
      <div class="link" translate>Home.SAC</div>
      <div class="link" translate>Home.FAQ</div>
      <div class="link" translate>Home.Work</div>
      <div class="link" translate>Home.Hire</div>
      <div class="link" translate>Home.Tools</div>
      <div class="link" translate>Home.Plan</div>
      <div class="link" translate>Home.Gift</div>
    </div>
    <div class="login">Entrar
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      <!-- <md-select class="selectLanguage" value="pt-br">
        <md-option class="languageOp" value="pt-br">PT</md-option>
        <md-option class="languageOp" value="en-US">EN</md-option>
      </md-select> -->
    </div>
  </div>
  <div class="container doubt">
    <div class="still">
      Ainda tem dúvidas? Clique aqui.
    </div>
    <div class="copy logo" >
      &copy; <span translate>Home.Copyright</span>
    </div>
  </div>

</footer>