@media screen and (max-width:992px) {
    .mobileNot {
        display: none !important;
        ;
    }
}

footer {
    margin-top: 24px;
    background: #262c34;
    min-height: 150px;
    padding: 24px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    i {
        color: white;
        margin-right: 12px;
        margin-left: 3px
    }
    .cont {
        display: flex;
        .links {
            display: flex;
            flex-wrap: wrap;
            width: auto;
            flex: 1;
            .link {
                margin: 0 15px;
                &:first-child {
                    margin: 0;
                }
                cursor: pointer;
            }
        }
        .login {
            margin: 0 15px;
            cursor: pointer;
            min-width: 120px;
        }
    }
    .doubt {
        display: flex;
        align-self: flex-end;
        font-size: 12px;
        flex-wrap: wrap;
        text-align: center;
        .still {
            flex: 1;
        }
        .copy {
            img {
                max-width: 150px;
                margin: 0 25px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .selectLanguage {
        position: absolute;
        right: 0;
        top: 1px;
    }
}