.navbar-brand{
    padding: 0;
    height: 100%;
}
.navbar-brand img{
    max-height: 50px;
    width: auto;   
}

.navbar{
    background: #421010 !important;
}

.nav-link{
    color: white !important
}

.container-fluid{
    padding: 0;
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}