<div class="container-fluid">
  <nav class="bg-dark navbar-dark navbar-expand-lg navbar sticky-top">
    <button type="button" data-target="#collapseNavbar" data-toggle="collapse" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="">
      <img src="assets/Coffee.png" alt="sitelogo">
    </a>
    <a class="navbar-brand" href="">Café PBC</a>
    <div class="navbar-collapse collapse" id="collapseNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Downloads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Dúvidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Empresa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Planos</a>
        </li>
        <li class="nav-item" *ngIf="user === undefined">
          <a class="nav-link" href="">Entrar</a>
        </li>
        <li class="dropdown nav-item" *ngIf="user !== undefined">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" id="navbardropdown">
            {{user.name}}
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Usuários</a>
            <a href="#" class="dropdown-item">Sair</a>
            <!-- Dropdown menu links -->
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
