<div class="container">
  <div class="row">
    <div class="login-box">
      <a href="index.php">
        <div class="logo">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="images/Coffee.png" alt="" class="img-responsive">
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 hidden-xs">
            <h3>Café - PBC</h3>
          </div>
        </div>
      </a>
      <div class="clearfix"></div>
      <form action="loginController.php" method="post" class="login-form">
        <input type="email" id="email" placeholder="Email" required name="email">
        <br>
        <br>
        <input type="password" id="senha" placeholder="Senha" required name="senha" pattern=".{6,}" title="Mínimo de 6 dígitos">
        <br>
        <h5 class="center">
          <a href="password.php">Esqueci a senha</a>
        </h5>
        <br>
        <input type="submit" value="Entrar">
      </form>
      <h5 class="center">Ainda não é usuário?
        <a href="register.php">Clique aqui</a>
      </h5>
    </div>
  </div>
</div>
